* {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

/*style du header*/
header {
    width: 100%;
    height: 100vh;
    background-image: url(image/navcar2.jpg);
    background-size: cover;
  
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    gap: 1rem;
    margin-left: 300px;
    margin-top: 20px;
}

nav li {
    display: grid;
    list-style: none;
    place-content: right;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

nav li::before {
    content: "";
    background-color: rgb(71, 191, 238);
    position: absolute;
    left: 0;
    bottom: 40px;
    height: 3px;
    width: 0;
    transition: 0.3s ease-in-out;
}

nav li:hover::before {
    content: "";
    background-color: rgb(71, 191, 238);
    position: absolute;
    left: 0;
    bottom: 40px;
    height: 3px;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: rgb(211, 211, 211);
}

nav a:hover {
    color: rgb(71, 191, 238);
}

.central {
    display: flex;
    justify-content: center;
    background-color: #0009;
    width: 100%;
    height: 100px;
    position: fixed;
}

nav img {
    width: 120px;
    height: 120px;
    margin-left: 30px;

}

/*style du main*/
main{
    width: 100%;
    height: 100%;
}

/*section1*/
.section1 {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}

.texte {
    margin-top: 50px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    width: 100%;
}

.fixe {
    color: white;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;

}

.animation {
    display: inline-block;
    height: 113px;
    line-height: 110px;
    overflow: hidden;

}

.animation span {
    position: relative;
    color: rgb(71, 191, 238);
    display: block;
    text-align: left;
    text-shadow: 0 0 10px rgb(71, 191, 238);
}

.animation div {
    animation: 9s wordchange;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1);
}

.animation span:after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    /*border-left: 2px solid rgb(71, 191, 238);*/
    right: -2px;
    background-color: rgb(0, 0, 0);
    animation: 3s animtexte;
    animation-iteration-count: infinite;
    animation-timing-function: steps(100);
    animation-fill-mode: backwards;
}

@keyframes animtexte {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}

@keyframes wordchange {
    0% {
        margin-top: 0;
    }

    33.333% {
        margin-top: -113px;
    }

    66.666% {
        margin-top: -226px;
    }

    100% {
        margin-top: 0;
    }
}

.description {
    color: rgba(255,255,255,.3);
    font-size: 23px;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 50px;
    padding: 40px;
    width: 800px;
    height: 550px;
    border: solid 2px white;
    border-radius: 20px;
    
}


/*section2*/
.section2{
    width: 100%;
    height: 150vh;
    background-image: url(https://static.wixstatic.com/media/536484_17325c60103047188965e2bec3860134~mv2.webp);
    background-size: cover;
    background-blend-mode: darken;
    background-color: gba(0, 0, 0, 0.7);
  
}

