* {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

/*style du header*/
header {
    width: 100%;
    height: 100vh;
    background-image: url(image/navcar2.jpg);
    background-size: cover;

}

nav {
    display: flex;
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    gap: 1rem;
    margin-left: 300px;
    margin-top: 20px;
}

nav li {
    display: grid;
    list-style: none;
    place-content: right;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

nav li::before {
    content: "";
    background-color: rgb(71, 191, 238);
    position: absolute;
    left: 0;
    bottom: 40px;
    height: 3px;
    width: 0;
    transition: 0.3s ease-in-out;
}

nav li:hover::before {
    content: "";
    background-color: rgb(71, 191, 238);
    position: absolute;
    left: 0;
    bottom: 40px;
    height: 3px;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: rgb(211, 211, 211);
}

nav a:hover {
    color: rgb(71, 191, 238);
}

.central {
    display: flex;
    justify-content: center;
    background-color: #0009;
    width: 100%;
    height: 100px;
    position: fixed;
}

nav img {
    width: 120px;
    height: 120px;
    margin-left: 30px;

}

/*style du main*/
main {
    width: 100%;
    height: 100%;
}

/*section1*/
.section1 {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.texte {
    margin-top: 50px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    width: 100%;
}

.fixe {
    color: white;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;

}

.animation {
    display: inline-block;
    height: 113px;
    line-height: 110px;
    overflow: hidden;

}

.animation span {
    position: relative;
    color: rgb(71, 191, 238);
    display: block;
    text-align: left;
    text-shadow: 0 0 10px rgb(71, 191, 238);
}

.animation div {
    animation: 9s wordchange;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1);
}

.animation span:after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    /*border-left: 2px solid rgb(71, 191, 238);*/
    right: -2px;
    background-color: rgb(0, 0, 0);
    animation: 3s animtexte;
    animation-iteration-count: infinite;
    animation-timing-function: steps(100);
    animation-fill-mode: backwards;
}

@keyframes animtexte {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}

@keyframes wordchange {
    0% {
        margin-top: 0;
    }

    33.333% {
        margin-top: -113px;
    }

    66.666% {
        margin-top: -226px;
    }

    100% {
        margin-top: 0;
    }
}

.description {
    color: rgba(255, 255, 255, .3);
    font-size: 23px;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 50px;
    padding: 40px;
    width: 800px;
    height: 550px;
    border: solid 2px white;
    border-radius: 20px;

}


/*section2*/
.section2 {
    display: flex;
    background-color: white;
    /*width: 100%;
    height: 100vh;*/
    background-image: url(https://static.wixstatic.com/media/536484_17325c60103047188965e2bec3860134~mv2.webp);
    /*background-size: cover;
    background-blend-mode: darken;
    background-color: gba(0, 0, 0, 0.7);*/
}

.container2 {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.container2 span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: blob 6s linear infinite;

}

.container2:hover span:nth-child(1) {
    border: none;
    background: rgb(0, 0, 0);
    color: white;
}

.container2 span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 48% 72% 73% 47% / 51% 54% 66% 69%;
    transition: 0.5s;
    animation: blob 4s linear infinite;
}

.container2:hover span:nth-child(2) {
    border: none;
    background: rgb(0, 0, 0);
}

.container2 span:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: blob3 10s linear infinite;
}

.container2:hover span:nth-child(3) {
    border: none;
    background: rgb(0, 0, 0);
}

@keyframes blob {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes blob3 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.blob {
    position: relative;
    padding: 40px 60px;
    text-align: center;
    transition: 0.5s;
    z-index: 1000;

}

.blob:hover {
    color: white;
}

.blob a {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    border: 2px solid rgb(71, 191, 238);
    padding: 6px 18px;
    text-decoration: none;
    color: rgb(71, 191, 238);
    font-weight: 600;
    border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}

.blob a:hover {
    background: rgb(71, 191, 238);
    color: black;
}

/*section3*/
.section3{
    background: #f3f3f3;
    /*min-height: 100vh;*/
}
.service{
    display: flex;
    min-height: 100vh;
    /*width: 100%;
    flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
    background: transparent;
    overflow: hidden;
    position: relative;
    /*justify-content: space-between;*/
    transform: skewY(-10deg);
}
.card{
    background: white;
    width: 300px;
    height: 400px;
    transition: 0.5s;
    position: relative;
    margin: 30px;
}
.card:before{
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 15px;
    background: rgb(71, 191, 238);
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0,5s;
}
.card:after{
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 15px;
    height: 50%;
    background: rgb(71, 191, 238);
    transform-origin: left;
    transform: skewY(45deg);
    transition: 0,5s;
    border-bottom: 200px solid #d9d9d9;
}
 .card:hover{
    transform: translateY(-40px);
}
.imgbox{
    display: flex;
    position: relative;
    width: 300px;
    height: 200px;
    background: rgb(71, 191, 238);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgbox img{
    max-width: 100px;
}
.imgbox h3{
    position: relative;
    color: white;
    margin-top: 10px;
}
.content{
    position: relative;
    /*width: 100px;
    height: 200px;*/
    padding: 20px;
    background:  white;
}
.content:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(transparent,transparent,rgba(0,0,0,.1));
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
    pointer-events: none;
    z-index: -1;
}
.card:hover .content:before{
    transform: translateY(40px) skewX(45deg);
    filter: blur(5px);
    opacity: 0.5s;
}
.card:nth-child(1){
    z-index: 3;
}
.card:nth-child(2){
    z-index: 2;
}
.card:nth-child(3){
    z-index: 1;
}